<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cognito Auth</title>
  </head>
  <body>
    <h2>
      Cognito Auth using NodeJs
    </h2>
    <p>
      <b>Author:</b> Gabriel Braga
      <a target="_blank" href="https://www.linkedin.com/in/gabriel-bragavera/"
        >LinkedIn</a
      >
    </p>
  </body>
</html>
